@value black, white, red, grey from '../App/colors.css';

.container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  flex-basis: 100%;
  margin-bottom: 1.5rem;
}

.projectName {
  font-size: 1.5rem;
  font-weight: 500;
}

.card {
  text-align: center;
  background-color: #fcfafa;
  min-width: 15rem;
  margin: 1rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  flex: 0 1 25rem;
}

.cardFooter {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@keyframes cardFooterItem {
  50% {
    background-color: rgba(2, 24, 43, 0.75);
  }
}

.cardFooterItem {
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
  background-color: rgb(236, 236, 236);
  transition-duration: 300ms;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);

  &:hover {
    animation-name: cardFooterItem;
    animation-duration: 700ms;
    animation-delay: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: #02182b;
  }
}

.cardFooterItem > a {
  width: inherit;
  font-weight: 600;
  color: #12355b;
  text-decoration: underline;
  transition-duration: 300ms;
  transition-property: color;

  &:hover {
    color: white;
  }
}

.imageContainer {
  padding: 1.5rem;
}
