.container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  flex-basis: 100%;
  margin-bottom: 1.5rem;
}

.card {
  background-color: white;
  margin: 1rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  flex: 1 1 20rem;
}
