@value small, medium from './breakpoints.css';
@value black, white, red, grey from './colors.css';

.pageContainer {
  padding: 3rem 8rem;

  @media small {
    padding: 2rem;
  }
}

.pageMain {
  position: relative;
  max-width: 100%;
}

.pageMainInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.enter {
  opacity: 0;
  z-index: 1;
}

.enter.enterActive {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.exit {
  opacity: 1;
  z-index: 0;
}

.exit.exitActive {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
