@value small, medium from '../App/breakpoints.css';

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(3rem, 1fr));
  grid-column-gap: 3rem;
  margin: 2rem 0;

  @media medium {
    grid-column-gap: 2rem;
    justify-items: center;
  }

  @media small {
    grid-row-gap: 2rem;
    justify-items: center;
  }
}

.header {
  font-size: 3rem;
  font-weight: bold;
  grid-column: 2 / span 3;
  grid-row: 1 / span 1;
  align-self: center;

  @media medium {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  @media small {
    grid-column: 1;
    grid-row: 2 / span 1;
    font-size: 2rem;
  }
}

.subHeader {
  font-size: 1.3rem;
  font-weight: bold;
  grid-column: 2 / span 3;
  grid-row: 2;
  align-self: center;

  @media medium {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  @media small {
    grid-column: 1;
    grid-row: 3;
    font-size: 1rem;
  }
}

.imgContainer {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  margin-right: 2rem;

  @media medium {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  @media small {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }
}

.image {
  border-radius: 100%;
  min-width: 10rem;

  @media medium {
    max-width: 16rem;
  }

  @media small {
    max-width: 15rem;
  }
}

.professional,
.personal,
.social {
  grid-row: 3;
  margin: 1rem 0;
}

.professional {
  grid-column: 2 / span 1;

  @media medium {
    grid-row: 4;
    grid-column: 1;
  }

  @media small {
    grid-row: 4;
  }
}

.personal {
  grid-column: 3 / span 1;

  @media medium {
    grid-row: 4;
    grid-column: 2;
  }

  @media small {
    grid-row: 5;
  }
}

.social {
  grid-column: 4 / span 1;

  @media medium {
    grid-column: 1 / span 2;
    grid-row: 5;
    justify-self: start;
    margin-top: 0;
  }

  @media small {
    grid-row: 6;
  }
}

.professional,
.personal,
.social {
  @media small {
    margin: 0;
    grid-column: 1;
  }
}

.bodyTitle {
  font-weight: 500;
}

.sectionSpacing {
  margin-top: 1rem;
}

.spotifyIcon {
  margin-top: 0.5rem;

  &:hover,
  &:focus {
    color: #1ed760;
    transform: scale(1.1);
  }
}
