@values black, white, red from '../App/colors.css';

.modalItems {
  margin-bottom: 2rem;
}

.copyIcon {
  margin: 0 1rem;

  &:hover {
    cursor: pointer;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 4rem;
}

.modal {
  background-color: white;
  border-radius: 5px;
  max-width: 31.2rem;
  min-width: 17.7rem;
  min-height: 18.7rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.notifyContainer {
  display: inline-flex;
}

.notify {
  color: red;
}

.fbMsgIcon {
  font-size: 2rem;

  &:hover {
    color: #0081ff;
  }
}

.email {
  text-decoration: underline;
  color: blue;
  margin-top: 2rem;
}

.iconContainer {
  margin-top: 0.5rem;
}

.footer {
  margin-top: 1rem;
}
