@values black, white, red from '../App/colors.css';

.copyIcon {
  margin: 0 1rem;

  &:hover {
    cursor: pointer;
  }
}

.notifyContainer {
  display: inline-flex;
}

.notify {
  color: red;
}

.fbMsgIcon {
  font-size: 2rem;

  &:hover {
    color: #0081ff;
  }
}

.email {
  text-decoration: underline;
  color: blue;
  margin-top: 2rem;
}

.iconContainer {
  margin-top: 0.5rem;
}
